@model OneRideLib.Data.RideEvent

@{
    ViewData["Title"] = "Bus Ride";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-striped">
    <thead>
        <tr>
            
            <th>Bus ID</th>
            <th>Rider ID</th>
            <th>Ride Timestamp</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            
            <td>@Model.BusID</td>
            <td>@Model.RiderID</td>
            <td>@Model.RideTimestamp</td>
        </tr>
    </tbody>
</table>