@model OneRideLib.Data.RideEvent
@{
    ViewData["Title"] = "Card";
}
<form asp-action="CreateBusRide" method="post">
    <input type="text" asp-for="@Model.RiderID" />
    <button class="btn">Swipe Card</button></a>
</form>