@model OneRideLib.Data.RideEvent
@{
    ViewData["Title"] = "Ridership button page";
}

<h1>Ridership button page</h1>

<form asp-action="CreateBusRide" method="post" >
    


<div class="form-group">
    <input type="number" id="BusID"/>
    <input type="number" id="RiderID"/>
    <input type="submit" value="Start Ride" name="Start Ride" class="btn btn-primary" />
</div>

</form>

