@model RegistrationUserAndLogin.Models.User

    @{
    ViewData["Title"] = "Send a Message";
}

<h1>Send a Message</h1>

<h3>Are you sure you want to send a message?</h3>

<a asp-area="Message" asp-action="Message" asp-route-id="SendMessage">Send</a> 

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mobile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mobile)
        </dd>
    </dl>

    <form asp-action="SendMessage">
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="SendMessage" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>