.button1 {
display: inline-block;
border-radius: 4px;
background-color: #680935;
border: none;
color: #FFFFFF;
text-align: center;
font-size: 15px;
padding: 15px;
width: 100px;
transition: all 0.5s;
cursor: pointer;
margin: 5px;
}

.button1 span {
cursor: pointer;
display: inline-block;
position: relative;
transition: 0.5s;
}

.button1 span:after {
content: '»';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}

.button1:hover span {
padding-right: 15px;
}

.button1:hover span:after {
opacity: 1;
right: 0;
}

.button1:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button2 {
    border-radius: 4px;
    position: relative;
    background-color:  #680935;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    padding: 10px;
    width: 100px;
    text-align: center;
    margin: 5px;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.button2:after {
    content: "";
    background: yellow;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.button2:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s

}

.button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.button3 {
    border-radius: 4px;
    position: relative;
    background-color:  #680935;
    border: none;
    font-size: 15px;
    color: #FFFFFF;
    padding: 17px;
    width: 100px;
    text-align: center;
    margin: 5px;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}
.button3:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}