﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar {
  margin-bottom: 0;
}

.banner{
  width: 100%;
  border-top: 11px solid #00a0af
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: white;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.dropdown-menu a {
  font-size:80%;
  color: black;
  padding: 4px 8px;
  text-decoration: none;
  display: block;
}

.span{

  font: 700 100px "Comic Sans MS";
  color: white;
  text-shadow: 0 0 20px #fdec84,
          10px -10px 30px #ffae35,
          20px -20px 40px #ec760c,
          -20px -60px 50px #cd4607,
          0px -80px 60px #973717,
          10px -40px 70px #451b0e;
}

.header {
  background-color: black;
}